body {
  font-family: sans-serif;
  background-color: #b1b1b1;
}
h1 {
  text-align: center;

  font-size: 38px;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  background: whitesmoke;
  padding: 25px;
  box-shadow:0 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
select {
  font-size: 18px;
  display: block;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
}
h2 {
  margin: 0 0 5px;
  font-size: 30px;
}
.city {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.5;
}
.time {
  font-size: 44px;
  font-weight: 500;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
}
footer {font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}